<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/scripts.js"></script>

    <title>Projects</title>
</head>
<body>
    <div class="container">
        <h1>Projects Page</h1>
        <div class="project_pane">
            <div class="project_list" *ngIf="list_of_all_the_things">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">
                            Project description
                        </th>
                        <th scope="col">
                            action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let project of list_of_all_the_things">
                        <th scope="row">
                            {{project.project_title}}
                        </th>
                        <td>
                            {{getCost(project.cost) | number: '1.2-2'}}
                        </td>
                        <td>
                            <button name="details" class="btn-outline-light" onclick="alert('it\'s a project!')" >about project</button>
                            <button name="reviews" class="btn-outline-light" onclick="alert('asked about project!')" >request info</button>
                            <br/>
                        </td>
                    </tr>
                    <tr *ngFor="let project of list_of_all_the_things">
                        <th scope="row">
                            {{project.project_title}} (PROJECT TWO)
                        </th>
                        <td>
                            {{getCost(project.cost) | number: '1.2-2'}}
                        </td>
                        <td>
                            <button name="details" class="btn-outline-light" onclick="alert('it\'s a project!')" >about project</button>
                            <button name="reviews" class="btn-outline-light" onclick="alert('asked about project!')" >request info</button>
                            <br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>
</html>